/*
    Section: General
*/
html { height: 100% }
body {
    background: url(../images/background.png);
    font-family: Arial,sans-serif; font-size: 12px; line-height: 1.5em;
    height:100%; margin: 0; padding: 0;
}
img { border:0; }
a { color: #151; text-decoration: underline; }
a:visited { color: #151; }
a:hover { color: #0a0; }

h1{ margin:1em 0 0.5em; font-size: 2em; }
h2{ margin:0.8em 0 0.4em; font-size: 1.5em; }
h3{ margin:0.6em 0 0.3em; font-size: 1.3em; }
h4{ margin:0.5em 0 0.3em; font-size: 1.1em; }
h1, h2, h3, h4{
    color:#151;
    text-shadow: 1px 1px 0 #fff;
    text-align: center;
}
h1 > a, h2 > a, h3 > a, h4 > a{
    text-decoration: none;
}

p{margin: 0.5em 0}

input, button, textarea, select{
    border:1px solid #aaa;
    border-radius: 4px;
    padding:2px 4px;
    /*color:#000;*/
    font-family: Arial, sans-serif;
    font-size: 12px;
    outline:none;
}

/*
    Navigation bar
*/
#top-navigation{
    position:fixed;
    top:0;
    left:50%;
    z-index:100;
    height:30px;
    width:960px;
    margin:0 -480px auto;
    box-shadow: 0 0 5px #000;
    border: 1px solid #151;
    border-top:0;
    border-radius:0 0 5px 5px;
    background: #1e6d08; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b9b0c 0%, #1e6d08 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b9b0c), color-stop(100%,#1e6d08)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2b9b0c 0%,#1e6d08 100%); /* W3C */
}
#top-navigation a{
    color:#fff;
    text-shadow:1px 1px 0 #000;
    text-decoration: none;
    line-height: 30px;
}
body.popup #top-navigation{
    width:80%;
    margin:0 -40% auto;
}
a.navigation-home{
    padding-left: 30px;
    background: url(../images/icon/menu-sprite.png) no-repeat 6px 0;
}
#top-navigation-actions{
    position:relative;
    float:right;
    z-index:100;
    color:#fff;
    text-shadow:1px 1px 0 #000;
    text-decoration: none;
    line-height: 30px;
    list-style:none;
    margin:1px 6px 1px 1px;
    padding:0;
}
#top-navigation-actions a.top-link{
    padding:4px 6px;
    border-radius:5px;
    margin:1px;
}
#top-navigation-actions a.top-link:hover, #top-navigation-actions a.selected{
    background-color:#151;
    border:1px solid #000;
    margin:0;
}
#top-navigation-actions li{
    position:relative;
    float:left;
}
#top-navigation-menu-icon{
    background: url(../images/icon/menu-sprite.png) no-repeat center -79px;
    padding:10px 10px 0;
}
.top-navigation-image{
    float:left;
    margin:3px 2px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 2px;
}

/*--- DROPDOWN ---*/
#top-navigation-actions ul{
    background:#f9f9f9; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    border:1px solid #ddd;
    box-shadow:0 0 4px #000;
    list-style:none;
    position:absolute;
    right:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    padding:0;
}
#top-navigation-actions ul li{
    float:none;
}
#top-navigation-actions ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    color: #151;
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
    border:0;
}
#top-navigation-actions li.menu:hover ul, #top-navigation-actions li.selected ul{ /* Display the dropdown on hover */
    right:-5px; /* Bring back on-screen when needed */
}
#top-navigation-actions li.menu:hover a, #top-navigation-actions li.selected a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color:#151;
    border:1px solid #000;
    margin:0;
}
#top-navigation-actions li.menu:hover ul a, #top-navigation-actions li.selected ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    background:#f9f9f9;
    border:1px transparent;
    border-bottom:1px solid #ddd;
    border-radius:0;
    width:100px;
    display:block;
    padding:2px 10px;
}
#top-navigation-actions li.menu:hover ul a i, #top-navigation-actions li.selected ul a i{
    display: inline-block;
    width:16px;
    height:16px;
    margin: 0 10px 0 0;
    vertical-align: text-top;
}
#top-navigation-actions li.menu:hover ul a.home i, #top-navigation-actions li.selected ul a.home i{
    background: transparent url(../images/icon/menu-sprite.png) no-repeat 0 -21px;
}
#top-navigation-actions li.menu:hover ul a.profile i, #top-navigation-actions li.selected ul a.profile i{
    background: transparent url(../images/icon/menu-sprite.png) no-repeat 0 -42px;
}
#top-navigation-actions li.menu:hover ul a.settings i, #top-navigation-actions li.selected ul a.settings i{
    background: transparent url(../images/icon/menu-sprite.png) no-repeat 0 -42px;
}
#top-navigation-actions li.menu:hover ul a.signout i, #top-navigation-actions li.selected ul a.signout i{
    background: transparent url(../images/icon/menu-sprite.png) no-repeat 0 -63px;
}
#top-navigation-actions li.menu:hover ul li a:hover, #top-navigation-actions li.selected ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color:#eee;
    color: #0a0;
    border:0;
    border-bottom:1px solid #ddd;
}
#notifications-link{
    position:relative;
}
#notification-count{
    border:1px solid #fff;
    background:#fff;
    padding:0 2px;
    border-radius:5px;
    box-shadow:1px 1px 0 #000;
    font-size:0.9em;
    color:#000;
    text-shadow:none;
    font-weight:bold;
    margin-left:5px
}
#notifications-window{
    position:absolute;
    right:-22px;
    top:30px;
    background: #f9f9f9;
    width:230px;
    color:#000;
    max-height: 300px;
    z-index:110;
    border:1px solid #ddd;
    text-shadow:none;
    padding:5px 5px 35px;
    box-shadow:0 0 4px #000;
}
#notifications-window .list-items-wrap{
    overflow-x: hidden;
    overflow-y:auto;
    height: 300px;
}
#notifications-window a { color: #151; text-decoration: underline; text-shadow:none; padding:0; line-height: 1.5em; }
#notifications-window a:visited { color: #151; }
#notifications-window a:hover { color: #0a0; }
#notifications-window .list-item:first-child{
    border-top:1px solid #ddd;
}
#notifications-window .list-item{
    border-bottom:1px solid #ddd;
    line-height: 1.5em;
    padding:5px;
    margin:2px 0 3px;
}
#notifications-window .list-item.unread{
    background:#fff;
}
#notifications-window .list-item:hover{
    box-shadow:0 0 5px #151;
}
#notifications-window a.notifications-view-all{
    position:absolute;
    bottom:3px;
    left:3px;
    width:230px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:none;
}
/* Search friends */
#search-form{
    position: absolute;
    width: 220px;
    left:50%;
    top:2px;
    margin:0 110px 0 -110px;
}
#search-form input[type=text]{
    width:160px;
}
#search-form input[type=submit]{
    background: #ddd url(../images/icon/update-sprite.png) no-repeat center -14px;
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -moz-linear-gradient(top,  #fcfff4 0%, #b3bead 100%); /* FF3.6+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -webkit-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -o-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Opera 11.10+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -ms-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* IE10+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, linear-gradient(to bottom,  #fcfff4 0%,#b3bead 100%); /* W3C */
    width:40px;
}
#search-form input[type=submit] i{
    background-color: transparent;
    background-image: url(../images/icon/update-sprites.png);
    background-repeat: no-repeat;
    background-position: 0 16px;
}
#search-form input[type=submit]:hover {
    background: #b2e1ff url(../images/icon/update-sprite.png) no-repeat center -14px; /* Old browsers */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: url(../images/icon/update-sprite.png) no-repeat center -14px, linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
}
/*
    Landing page
*/
.landing{
    min-height:500px;
    height:100%;
    position:relative;
}
.landing-wrap{
    position:absolute;
    top:50%;
    left:50%;
    width:960px;
    height:360px;
    margin:-180px 0 0 -480px;
    border-radius: 20px 0 20px 0;
    border:1px solid #000;
    box-shadow: 0 0 30px #5a5;
}
.landing-image{
    width:660px;
    height:100%;
    border-radius: 20px 0 0 0;
    position:relative;
    background-color:#000;
    background-repeat:no-repeat;
    background-position:center center;
}
.landing-image-credits{
    position:absolute;
    right:4px;
    bottom:2px;
    color:#ddd;
    background:rgba(0,0,0, 0.75);
    text-shadow:1px 1px 0 #000;
    padding:2px 6px;
    border:1px solid #000;
    border-radius:5px;
}
.landing-image-credits a{
    color:#ddd;
}
.landing-image-credits img{
    vertical-align: middle;
    margin:0 2px;
}
.landing-logo{
    width:660px;
    height:100%;
    background:url(../images/logo.png) no-repeat center center;
    border-radius: 20px 0 0 0;
}
.landing-info{
    position:absolute;
    top:0;
    right:0;
    margin:10px 10px 5px;
    width:256px;
    height:316px;
    border-radius: 0 0 20px 0;
    border:2px solid #007000;
    text-align:center;
    padding:10px;
    font-size:1.4em;
    text-shadow:1px 1px 0 #fff;
    background: #ddd;
}
.landing-latest{
    position:absolute;
    overflow:hidden;
    bottom:50px;
    left:50%;
    width:940px;
    height:54px;
    margin:0 0 0 -480px;
    padding:10px;
    border-radius: 20px;
    border:2px solid #007000;
    background: #ddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
}
.landing-latest .landing-title{
    float:left;
    width:100px;
    font-weight: bold;
}
.landing-latest .landing-update-list{
    float:left;
    width:840px;
}
.landing-latest .landing-update-list a{
    float:left;
    width:96px;
    height:50px;
    overflow:hidden;
    margin:0 2px 10px 0;
    padding:2px;
    border:1px solid #aaa;
    text-decoration: none;
    color:#000;
}
.landing-latest .landing-update-list a:hover{
    text-decoration: none;
    background: #eeeeee;
}
#sign-in-wrap, .sign-up-wrap{
    font-size:0.8em;
    padding:10px 5px;
    margin:5px auto;
    border:1px solid #aaa;
    border-radius: 4px;
}
#sign-in-wrap form{
    display:inline;
}
#sign-in-wrap input[type=text]{
    float:left;
    width:230px;
    margin:0;
}
#sign-in-wrap input[type=text].error_box{
    border: 1px solid #f00;
    background-color: #fee;
}
#sign-in-wrap input[type=password]{
    float:left;
    width:230px;
    margin:2px 0 0;
}
#sign-in-wrap input[type=text]:focus, #sign-in-wrap input[type=password]:focus{
    border:1px solid #5a5;
    box-shadow:0 0 2px #5a5;
}
#sign-in-wrap input[type=text].error_box:focus, #sign-in-wrap input[type=password].error_box:focus{
    border: 1px solid #f00;
    box-shadow: 0 0 2px #f00;
}

#sign-in-wrap input[type=submit]{
    margin:2px 0;
    float:left;
}
#sign-in-wrap a{
    margin:5px 5px 0;
    float:right;
}
.sign-up-wrap a{
    padding:2px 0;
    display:inline-block;
}
.sign-up-external{
    text-align:center;
}
.sign-up-external a{
    float:none !important;
}
.sign-up-external i{
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align: middle;
}
.sign-divider{
    border:0;
    border-top:1px solid #aaa;
    margin:5px 0 10px;
}
#bio-length-remaining{
    border-radius:5px;
    background:#ddd;
    padding:2px;
}

/*
    About Pages
*/
.about-page h1, .about-page h2, .about-page h3, .about-page h4{
    text-align: left;
    margin:1em 0;
}
.about-menu{
    width: 175px;
    margin: 10px 0 0;
    position: fixed;
}
.about-menu a{
    display:block;
    margin:0;
    padding:5px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}
.about-menu a:first-child{
    border-top: 1px solid #ddd;
}
.about-menu a.selected, .about-menu a:hover{
    background: #eee;
}
.about-body{
    float:left;
    width:710px;
    margin: 10px 0 10px 185px;
    padding:20px;
    border: 1px solid #ddd;
    text-align: justify;
}
.about-body h1{
    margin-top:0;
}
blockquote {
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin: 1em;
    float: right;
    padding:10px;
    background: #fff;
    border: 1px solid #ddd;
    width: 40%;
}
blockquote p:before {
    content: open-quote;
}
blockquote p:after {
    content: close-quote;
}
.about-page blockquote small{
    font-style: italic;
    text-align: right;
    display: block;
}

/*
    Main section
*/
.container{
    width:940px;
    position:relative;
    margin:0 auto;
    padding:40px 10px 20px;
    background:#f9f9f9;
    box-shadow:0 0 20px #6c6;
    border:1px solid #151;
}
.sign-up-page small, .settings-edit-page small{
    display:block;
    color:#333;
}

/*
    Sign Up
*/
.sign-up-page fieldset{
    border:1px solid #151;
    border-radius:5px;
    margin:20px 0;
    /*box-shadow: 1px 1px 0 #000;*/
}
.sign-up-page fieldset>legend{
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.sign-up-page .label{
    font-weight: bold;
    width:200px;
}
.sign-up-page .input{
    width:300px;
}
.sign-up-page input[type=text],.sign-up-page input[type=password],.sign-up-page textarea{
    width:200px;
}
.form-hint{
    width:16px;
    line-height: 16px;
    display:inline-block;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 0 #333;
    border:1px solid #999;
    border-radius:2px;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff 0%,#ddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff 0%,#ddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff 0%,#ddd 100%); /* W3C */
}
.form-required{
    color:#d00;
}
.form-length{
    color:#00d;
}
.form-buttons{
    text-align: center;
}

/*
    Edit profile
*/
.profile-edit-page .profile-edit-info{
    border:1px solid #151;
    border-radius:5px;
    float:left;
    margin:0 0 20px 0;
    padding:20px;
    width:740px;
    box-shadow: 1px 1px 0 #000;
}
.profile-edit-page .label{
    font-weight: bold;
    width:150px;
}
.profile-edit-page .input{
    width:300px;
}
.profile-edit-page input[type=text],.profile-edit-page input[type=password],.profile-edit-page textarea{
    font-size:1em;
    width:200px;
}
/*
    Settings
*/
.settings-menu{
    float: left;
    width: 175px;
    margin: 10px 0 0;
}
.settings-menu a{
    display:block;
    margin:0;
    padding:5px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}
.settings-menu a:first-child{
    border-top: 1px solid #ddd;
}
.settings-menu a.selected, .settings-menu a:hover{
    background: #eee;
}
.settings-form-wrap{
    float:left;
    width:710px;
    margin: 10px 0 10px 10px;
    padding:20px;
    border: 1px solid #ddd;
}
.settings-form-wrap .error-msg{
    float:left;
    margin: 5px 10px;
    width: 250px;
}
.settings-edit-page input[type=text],.settings-edit-page input[type=password],.settings-edit-page textarea, .settings-edit-page select{
    font-size:1em;
    width:200px;
}
.settings-form-wrap label{
    float:left;
    clear:left;
    font-weight: bold;
    width:120px;
    margin: 5px 0;
}
.settings-form-wrap input, .settings-form-wrap select{
    float:left;
}
div.settings-input{
    float:left;
    margin:0;
}
.settings-profile-column{
    float:left;
    width: 560px;
}
.settings-message{
    text-align: center;
    border: 1px solid #ddd;
    background: #eee;
    padding: 4px;
    color: #151;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 5px;
}
.settings-description{
    margin:0 0 10px;
    padding:0 0 10px;
    border-bottom:1px solid #ddd;
}
.settings-notification p.label{
    font-weight:bold;
    padding-right:10px;
}
.settings-notification td.radio{
    padding:0 20px;
}
.settings-notification input[type=radio]{
    float:none;
}
/*
    Updates list
*/
/* Profile Info */
#updates-list-left {
    float:left;
    width:640px;
    margin:0;
    padding:0;
}
#updates-list-right{
    float:right;
    width:300px;
    margin:0;
    padding:0;
}
.updates-list-profile{
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
    width:268px;
    position:relative;
}
.updates-profile .updates-list-profile{
    width:603px;
}
.updates-list h1, h2, h3, h4{
    text-align: left;
}
.updates-list h1{ font-size: 1.3em; margin:0.5em 0 0.3em; }
.updates-list h2{ font-size: 1.2em; margin:0.4em 0 0.3em; }
.updates-list h3{ font-size: 1.1em; margin:0.4em 0 0.2em; }
.updates-list h4{ font-size: 1.05em; margin:0.3em 0 0.2em; }
.profile-image-large, .profile-image-medium, .profile-image-small, .profile-image-thumb{
    margin:5px 15px 5px 0;
    float:left;
    overflow: hidden;
}
.profile-image-large{
    width: 128px;
    height: 128px;
    box-shadow: 0 0 5px #151;
    border-radius: 5px;
}
.profile-image-medium{
    width: 64px;
    height: 64px;
    box-shadow: 0 0 5px #151;
    border-radius: 5px;
}
.profile-image-small{
    width: 42px;
    height: 42px;
    box-shadow: 0 0 5px #151;
    border-radius: 5px;
}
.profile-image-thumb{
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 10px;
}
.profile-info{
    margin:0 5px;
    padding-left:10px;
    float:left;
}
.profile-btn{
    float:right;
    margin-left:2px;
    position:relative;
}
.profile-btn i{
    width:16px;
    height:16px;
    display:block;
}
.profile-bio{
    color:#333;
    font-style: italic;
}
/* Viewing/Showing */
.updates-list-view, .updates-list-invite{
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
    width:268px;
    background: #eee;
    position:relative;
}
.updates-list-header{
    width:248px;
    border-bottom:1px solid #ddd;
    display:inline-block;
    margin-bottom:5px;
}
.updates-list-header h2{
    display:inline-block;
}
.updates-list-header small{
    color:#333;
    font-style: italic;
    font-size: 10px;
    font-weight: normal;
}
.updates-list-view a{
    display:inline-block;
    vertical-align: bottom;
    margin:2px;
    width:24px;
    height: 24px;
    overflow:hidden;
    border-radius:2px;
}
.updates-list-view a.username{
    width:auto;
    line-height: 24px;
    text-decoration: none;
}
.updates-list-view .recommended-user{
    margin-bottom:2px;
}
.view-more{
    width:24px;
    height:24px;
    display:block;
    background: url(../images/icon/share-sprite.png) no-repeat center 0;
}
/* Search friends */
.updates-list-search{
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
    width:268px;
    background: #eee;
}
.updates-list-search-form{
    display:inline-block;
}
.updates-list-search-form input[type=text]{
    width:200px;
}
.updates-list-search-form input[type=submit]{
    width:40px;
}
/* Invite */
.updates-list-invite input[type=text]{
    width:190px;
}
.updates-list-invite input[type=submit]{
    width:50px;
}
.updates-list-answer{
    background: #fff;
    padding:10px;
    border:1px solid #ddd;
    margin-top:10px;
}

/* Share */
.updates-list-share{
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
    background: #eee;
    width:268px;
}
.updates-list-share .updates-list-header{
    width:120px;
}
.update-list-share-form{
    position:relative;
}
.updates-list-share textarea{
    margin-top:10px;
    width:258px;
    height:50px;
    float: right;
    -webkit-transition: -webkit-box-shadow 0.5s ease-out;
    -moz-transition: -moz-box-shadow 0.5s ease-out;
    -ms-transition: box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
}
.updates-list-share textarea.animate{
    -moz-box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
}
#update-list-share-add{
    clear:both;
    display:inline-block;
    margin-top:2px;
    margin-bottom: -2px;
    width:170px;
    overflow:hidden;
    position:relative;
}
.updates-list-share input{
    display:inline-block;
    width:160px;
}
.updates-list-share input#photo-styled{
   position:absolute;
   left:0;
   top:0;
   background: #fff url(../images/icon/update-sprite.png) no-repeat 142px -14px;
   padding-right: 20px;
   width:140px;
   z-index: 1;
}
.updates-list-share input[type=file]{
    position: relative;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0); /* msie */
    z-index: 2;
    margin-bottom: -4px;
}
.updates-list-share input[type=submit]{
    width:80px;
    float:right;
}
#update-list-share-btns{
    display:inline-block;
    float:right;
}
#update-list-share-btns a{
    margin:0;
    padding:2px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* msie */
    width:24px;
    height: 24px;
    overflow:hidden;
    display:inline-block;
    border-radius:4px;
}
#update-list-share-btns a.selected, #update-list-share-btns a:hover{
    opacity : 1;
    filter: alpha(opacity=100); /* msie */
    background: #2b9b0c; /* Old browsers */
    box-shadow:0 0 2px #151;
}
.text-btn,.url-btn, .video-btn, .photo-btn{
    width:24px;
    height:24px;
    display:block;
}
.text-btn{ background: url(../images/icon/share-sprite.png) no-repeat center -24px; }
.url-btn{ background: url(../images/icon/share-sprite.png) no-repeat center -48px; }
.video-btn{ background: url(../images/icon/share-sprite.png) no-repeat center -72px; }
.photo-btn{ background: url(../images/icon/share-sprite.png) no-repeat center -96px; }
#update-share-form{
    position:relative;
    margin:5px;
}
#update-share-form textarea.full-screen{
    width: 920px;
    height: 100px;
    margin: 0;
}
#update-share-form textarea.popup-screen{
    width: 380px;
    height: 70px;
    margin: 0;
}
#update-share-form input[type=submit]{
    position:absolute;
    right:2px;
    bottom:7px;
}

/* Share Result */
.share-images{
    float:left;
    margin:0 10px 15px 0;
    width:80px;
    height:64px;
}
.share-images-list{
    overflow: hidden;
    width:64px;
    height:64px;
    display:block;
    margin:0 auto;
}
.share-images-count{
    width:80px;
    font-size:0.8em;
    display:block;
    text-align:center;
}
#share-images-left, #share-images-right{
    width:16px;
    height: 16px;
    cursor:pointer;
}
#share-images-left {
    float:left;
    background:url(../images/icon/left.png) no-repeat center center;
}
#share-images-right {
    float:right;
    background:url(../images/icon/right.png) no-repeat center center;
}
.share-image{
    width:64px;
    height:64px;
}
.share-url-wrap small{
    vertical-align: middle;
    padding-left: 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}
/* Updates */
.updates-list-item{
    float:left;
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    width:603px;
}
.updates-list-item:hover{
    box-shadow:0 0 5px #151;
}
.updates-list-item.unread{
    border:1px solid #999;
    background:#fdfdfd;
}
.entry-btn{
    float:right;
    width:16px;
    margin-left:2px;
    position:relative;
}
.entry-btn i{
    width:16px;
    height:16px;
    display:block;
}
.remove-btn{ background: url(../images/icon/update-sprite.png) no-repeat center 0; }
.connect-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -128px; }
.disconnect-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -144px; }
.share-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -64px; }
.comment-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -32px; }
.view-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -16px; }
.styh-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -48px; }
.facebook-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -80px; }
.gplus-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -112px; }
.twitter-btn{ background: url(../images/icon/update-sprite.png) no-repeat center -96px; }
.updates-list-item h2 > a, .update-single-entry h2 > a{
    text-decoration: none;
}
hr.updates-item-divider{
    border:0;
    border-top:1px solid #ddd;
    margin:10px 0;
}
.updates-list-item.unread hr.updates-item-divider{
    border-top:1px solid #999;
}
.updates-list-item-link{
    background: #fff;
    padding:10px;
    border:1px solid #ddd;
}
.updates-list-item-link img{
    float:left;
    margin:0 10px 5px 0;
    padding: 4px;
    border: 1px solid #ddd;
}
.updates-list-item-link-info small{
    vertical-align: middle;
    padding-left: 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}
.updates-list-item-video, .updates-list-item-photo{
    background: #fff;
    border:1px solid #ddd;
    text-align:center;
    padding:10px 5px 5px;
}
.updates-list-item-photo.popup, .updates-list-item-video.popup{
    overflow:hidden;
    max-height: 50px;
}
.updates-list-item-photo.popup img{
    width:340px;
}
#updates-list-load-wrap{
    margin:10px auto 40px;
    text-align: center;
    width:940px;
    font-weight: bold;
    text-transform: uppercase;
    clear:both;
}
.updates-list-load-more{
    display:none;
    width:200px;
}
.updates-list-load-more.loading{
    
}
#updates-list-load-more-pages{
    display:inline;
}
#updates-list-load-more-pages a{
    color:#000 !important; 
    text-decoration: none;
    text-align:center;
    text-shadow: 1px 1px 0 #fcfff4;
    border: 1px solid #aaa;
    border-radius:4px;
    padding: 4px 8px;
    cursor:pointer;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 0%,#b3bead 100%); /* W3C */
}
#updates-list-load-more-pages strong,#updates-list-load-more-pages b{
    color:#000 !important; 
    text-decoration: none;
    text-align:center;
    border-radius:4px;
    padding: 4px 8px;
    border: 1px solid #66b6fc;
    text-shadow: 1px 1px 0 #b2e1ff;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
}
.advertisement-block{
    position: relative;
    border:1px solid #ddd;
    width:268px;
    padding:10px;
    margin:5px;
    text-align: center;
}
.advertisement-block p{
    color: #333;
    font-size: 0.8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
}
.advertisement-block iframe{
    border:1px solid #ddd;
}
#updates-list-refresh, .updates-list-delete-undo{
    text-align: center;
    border: 1px solid #ddd;
    background: #eee;
    padding: 0 10px;
    margin: 5px;
    width:603px;
    color: #151;
    float:left;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 5px;
}
#updates-list-refresh a, .updates-list-delete-undo a{
    text-decoration: none;
    display: block;
    padding: 5px;
}
#updates-list-refresh:hover, .updates-list-delete-undo:hover{
    background: #f9f9f9;
}
/* Single entry */
.update-single-entry{
    float:left;
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    width:910px;
}
.update-single-entry:hover{
    box-shadow:0 0 5px #151;
}
.update-single-entry.popup{
    width:365px;
}
.updates-item-share-wrap{
    overflow:hidden;
    float:right;
}
.updates-item-share{
    width:108px;
}
.updates-view-comments-btn{
    display:inline-block;
}
/* Single entry - comment */
.updates-item-comment-form{
    float:left;
    position:relative;
    width:100%;
    margin-top:10px;
}
.updates-item-comment-form textarea{
    height: 2em;
    float:left;
}
#entry .updates-item-comment-form textarea{
    width:900px;
}
.updates-list-item .updates-item-comment-form textarea{
    height:4em;
    width:593px;
}
.comment-submit{
    position:absolute;
    right:2px;
    bottom:2px;
}
#updates-list-share-answer{
    background: #fff;
    padding:10px;
    border:1px solid #ddd;
    margin-top:10px;
}
.updates-item-comments-wrap{
    border: 1px solid #ddd;
    margin: 10px 0 0;
    padding:10px;
}
.update-item-comment{
    border-top:1px dotted #ddd;
    margin: 5px 0 0;
    padding: 5px 0 0;
}
.update-item-comment.first{
    border-top:0;
    margin: 0;
    padding:0;
}
.updates-item-comment-form-answer{
    border:1px solid #ddd;
    margin-bottom:10px;
    padding:0 10px;
}
.update-comment-remove{
    float:right;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
.update-comment-remove:hover{
    opacity: 1;
    filter: alpha(opacity=100); /* msie */
}
/* Notificaitons */
.updates-list-actions{
    margin:5px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
    width:268px;
    overflow: hidden;
}
.updates-list-actions a{
    float:right;
}

/*
    Footer
*/
.bottom-navigation{
    position:fixed;
    bottom:0;
    left:50%;
    width:960px;
    margin:0 -480px auto;
    padding:2px 0;
    z-index:1000;
    text-align:center;
    text-shadow:1px 1px 0 #000;
    background: rgba(0,0,0,0.75);
    border:1px solid rgba(200,255,200,0.3);
    border-bottom: 0;
    border-radius:5px 5px 0 0;
    color:rgba(255,255,255,0.75);
}
.bottom-navigation a{
    color:rgba(255,255,255,0.75);
}

/*
    General Classes
*/
.gradient-btn{
    color:#000 !important; 
    text-decoration: none;
    text-align:center;
    text-shadow: 1px 1px 0 #fcfff4;
    border: 1px solid #aaa;
    border-radius:4px;
    padding: 4px 8px;
    cursor:pointer;
    background: #ddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 0%,#b3bead 100%); /* W3C */
}
a.gradient-btn {
    padding:3px 8px;
}
input.gradient-btn, button.gradient-btn{
    padding:4px 8px;
    margin:2px;
}
.gradient-btn:hover, .gradient-btn.selected{
    border: 1px solid #66b6fc;
    text-shadow: 1px 1px 0 #b2e1ff;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
}
.gradient-btn[disabled='disabled']{
    color:#999 !important;
    border: 1px solid #ddd;
    text-shadow: 1px 1px 0 #fcfff4;
    background: #fefff9; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefff9 0%, #c3cebd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefff9), color-stop(100%,#c3cebd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefff9 0%,#c3cebd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefff9 0%,#c3cebd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefff9 0%,#c3cebd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefff9 0%,#c3cebd 100%); /* W3C */
}
.gradient-btn.gradient-red:hover{
    border: 1px solid #cf0404;
    text-shadow: 1px 1px 0 #febbbb;
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 0%, #ff5c5c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #febbbb 0%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #febbbb 0%,#ff5c5c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #febbbb 0%,#ff5c5c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #febbbb 0%,#ff5c5c 100%); /* W3C */
}
.error_box{
    border: 1px solid #f00;
    margin: 2px;
    padding: 2px;
    background-color: #fee;
}
.error_box:focus{
    border: 1px solid #f00;
    box-shadow: 0 0 2px #f00;
}
.noerror_box { border: 1px solid green; margin: 2px; padding: 2px; background-color: #efe; }
.error-msg {color:red; text-shadow:1px 1px 0 #fff; }
.round { border-radius: 4px; }
.loading, .loading-inner, .loading-icon{
    background: url(../images/ajax-loader.gif) no-repeat center center;
    width:100%;
    height:16px;
    display:inline-block;
}
.gradient-loading, .gradient-loading:hover{
    border: 1px solid #66b6fc;
    text-shadow: 1px 1px 0 #b2e1ff;
    background: #b2e1ff url(../images/ajax-loader.gif) no-repeat center center; /* Old browsers */
    background: url(../images/ajax-loader.gif) no-repeat center center, -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: url(../images/ajax-loader.gif) no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: url(../images/ajax-loader.gif) no-repeat center center, -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: url(../images/ajax-loader.gif) no-repeat center center, -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: url(../images/ajax-loader.gif) no-repeat center center, -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: url(../images/ajax-loader.gif) no-repeat center center, linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
}
.loading-wrap{
    position:absolute;
    height:100%;
    width:100%;
    left:-5px;
    top:-5px;
    padding:5px;
    border:1px solid #000;
    background:rgba(150,150,150,0.5);
    border-radius:10px;
    z-index:5;
}
.loading-inner{
    height:100%;
    z-index:6;
}
.updates-list-share .loading-inner, #update-share-form .loading-inner, .updates-list-invite .loading-inner{
    background: url(../images/ajax-loader-big.gif) no-repeat center center;
    opacity:0.9;
    filter: alpha(opacity=90); /* msie */
}
.loading-icon{
    width:16px;
    vertical-align:middle;
    margin-left:4px;
}
.loading-btn{
    background:rgba(255,255,255,0.7) url(../images/ajax-loader.gif) no-repeat center center;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius: 4px;
}
.relative{
    position:relative;
}
.hide{
    display:none;
}
.clear{
    clear:both;
}
.placeholder
{
    color: #aaa;
}
h1.page-title{
    text-align: center;
    font-size: 2em;
}

/* JQUERY UI DIALOG */
.ui-dialog{
    border:1px solid #ddd;
    background: #f9f9f9;
    padding:2px;
    box-shadow:0 0 10px #000;
}
.ui-dialog-titlebar{
    padding:2px;
    border: 1px solid #151;
    background: #2b9b0c; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b9b0c 0%, #1e6d08 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b9b0c), color-stop(100%,#1e6d08)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b9b0c 0%,#1e6d08 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2b9b0c 0%,#1e6d08 100%); /* W3C */
}
.ui-dialog-title{
    color:#fff;
    text-shadow:1px 1px 0 #000;
}
.ui-dialog-titlebar-close{
    float:right;
    margin-right: 16px;
    text-indent: -10000px;
    outline: none;
}
.ui-icon{
    width:16px;
    height:16px;
    float:left;
}
.ui-icon-closethick{
    background-image: url(../images/icon/remove.png);
}
.ui-button{
    color:#000 !important; 
    text-decoration: none;
    text-align:center;
    text-shadow: 1px 1px 0 #fcfff4;
    border: 1px solid #aaa;
    border-radius:4px;
    padding: 4px 8px;
    cursor:pointer;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 0%,#b3bead 100%); /* W3C */
}
.ui-button:hover{
    border: 1px solid #66b6fc;
    text-shadow: 1px 1px 0 #b2e1ff;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
}
.ui-dialog-buttonset{
    border-top:1px solid #ddd;
    padding:2px 0 0;
    text-align:center;
}
.ui-icon-alert{
    background-image: url(../images/icon/alert.png);
    margin:10px;
}
.ui-icon-styh{
    background-image: url(../images/icon/styh.png);
    margin:10px;
}
.ui-widget-overlay{
    position:fixed;
    top:0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* msie */
}

/*
 * Animations
 */
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}	
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
    0% {-moz-transform: scale(1);}	
    10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
    100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
    0% {-o-transform: scale(1);}	
    10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
    100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
    0% {transform: scale(1);}	
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}

.tada {
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
}

/*
 * Browser specific fixes
 */
 @-moz-document url-prefix(){
    .comment-submit{
        bottom:4px
    }
}
